<% content_for :side_left_content do %>
<span class="title-session glyphiconsPro glyphicon-dog"></span><span class="title-session">Seu dog</span>
<%= form_tag("/dogs", method: "post", multipart: true,  class: "form-horizontal") %>

<div class="form-group">
  <div class="col-md-5">
     <input id="nome"  type="text" name="dog[nome]" class="form-control" placeholder="Nome">
  </div>
  <div class="col-sm-1 ">
     <label for="raca_id">Raça:</label>
  </div>
  <div class="col-md-6">
     <%= select("dog","raca_id",@racas,{},{'class' => 'form-control'}) %>
  </div>
</div>
<div class="form-group">
    <div class="col-sm-1">
    <label for="sexo">Sexo: </label>
    </div>
    <div class="col-md-4">
    <select id="sexo" name="dog[sexo]" class="form-control">
        <option value="M">Macho</option>
        <option value="F">Fêmea</option>
    </select>
    </div>
        <div class="col-sm-2 col-padding-reduce">
        <label for="cidade_id">Cidade:</label>
    </div>
    <div class="col-md-5">
        <%= select("dog","cidade_id",@cidades,{},{'class' => 'form-control'}) %>
    </div>
    
</div>

<div class="form-group">
    <div class="col-sm-1 col-padding-reduce">
        <span class="glyphicon glyphicon-certificate"></span>
    </div>
    <div class="col-sm-2 col-reduce-padding">
        <label for="pedigree">Pedigree?</label>
    </div>
    <div class="col-md-3">
        <select id="pedigree" name="dog[tem_pedigree]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
    <div class="col-sm-1 col-padding-reduce">
      <span class="glyphicon glyphicon-fire"></span>
    </div>
    <div class="col-sm-4 col-padding-reduce">
        <label for="cruzar">Quer cruzar?</label>
    </div>
    <div class="col-md-3">
        <select id="cruzar" name="dog[interessa_cruzar]" class="form-control">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input type="submit" name="Salvar" class="btn btn-success btn-block" value="Salvar">
    </div>
</div>


<% end %>
<% content_for :side_right_content do %>

<span class="title-session glyphicon glyphicon-camera"></span><span class="title-session">Álbum do dog</span>
<div id="drop_zone"><p>Arraste as fotos aqui</p>
    
</div>
<input type="file" id="files" name="files[]" multiple />
</form>
<output id="list"></output>
<a onclick="javascript:getJSONimages()">JSON</a>
<script>
  document.getElementById('files').addEventListener('change', handleFileSelect, false);
 
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);

</script>

<% end %>
