<div id="abre_fotos" style="width:850px;">
    <% if !@fotos.empty? %>
    <h2>Fotos do <%= @dog.nome %></h2>
    <div id="album" class="row">
        <% @fotos.each do |foto| %>
        <div class="col-md-4">
            <div class="thumbnail clearfix">
                <img src="/images/<%= foto.url %>">
                <div class="caption">
                    <%= foto.descricao %>
                </div>
            </div>
        </div>
        <% end %>
            
    </div>
    <% else %>
<h2>:( Amiguinho não tem foto ainda</h2>
<% end %>    
</div>